<div class="card">
  <div class="card_image">
    <img
      class="mainImage"
      src="https://picsum.photos/200/300?random=1"
      alt="Event image"
    />
  </div>

  <div class="event-info">
    <h1 class="card-event_name">{{ event.name }}</h1>
    <div class="card-event-details">
      <p class="iiss">
        <span class="material-icons t1">location_on</span> {{ event.location }}
      </p>
      <p class="iiss">
        <span class="material-icons t1">local_offer</span> {{ event.price }}
      </p>
      <p class="iiss">
        <span class="material-icons t1">schedule</span> {{ event.time }}
      </p>
    </div>
  </div>
</div>
