.body {
  display: flex;
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cir {
  display: flex;
  width: 258.33px;
  height: 258.33px;
  border-radius: 100%;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.lett {
  font-size: 200px;
  color: black;
}
