<div class="theBody">
  <div class="cartCard">
    <div class="topDiv">
      <img
        class="mainImage"
        src="https://www.webtickets.co.za/admin/images/galileo/banner_S9%20Webtickets%20Image.jpg"
      />
      <div class="rightDiv">
        <div class="hh1">Kitchen Friday Burger Fest</div>
        <p class="hh2">23 Apr 2022 - 15h00</p>
        <p class="hh2">Midrand</p>
      </div>
    </div>
    <div class="bottomDiv">
      <div class="deleteButton"><div class="t1">Delete</div></div>
      <div class="minus"><div class="t1">-</div></div>
      <div>2</div>
      <div class="plus"><div class="t1">+</div></div>
      <div>R200.00</div>
    </div>
    <div class="bottomLine"></div>
  </div>
  <div class="checkOutBox">
    <div class="checkItem">
      <div class="t2">Total</div>
      <div class="t2">R200.00</div>
    </div>
    <div class="checkItem">
      <div class="t2">Count</div>
      <div class="t2">2</div>
    </div>
    <div class="buttonStyle">
      <div class="buttonCheck"><div class="t3">Checkout</div></div>
    </div>
  </div>
</div>
